{% extends 'base.html.twig' %}

{% block title %}New Planques{% endblock %}

{% block body %}
    <h1>Create new Planques</h1>

    {{ include('planques/_form.html.twig') }}

    <a href="{{ path('planques_index') }}">back to list</a>
{% endblock %}
